<!DOCTYPE html>
<html>
<head>
    <title>Exame Finalizado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        window.onload = function() {
            setTimeout(function() {
                window.close();
                // Fallback se window.close() não funcionar
                document.body.innerHTML = "<h1>Por favor, feche esta janela do navegador.</h1>";
            }, 2000);
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Exame Finalizado</h1>
        <p>Obrigado por participar!</p>
        <p>Esta janela será fechada automaticamente...</p>
    </div>
    <footer class="footer">
        <p>&copy; {{ year }} - Naldo Pinheiro - <a href="mailto:naldo.pinheiro@nap.tec.br">naldo.pinheiro@nap.tec.br</a></p>
    </footer>
</body>
</html>
